<footer>
  <div class="footer-container">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo" />
    </div>

    <div class="links">
      <a routerLink="" routerLinkActive="active">Home</a>
      <a routerLink="/sobre" routerLinkActive="active">Sobre</a>

      <a routerLink="/recursos" routerLinkActive="active">Recursos</a>
      <a routerLink="/nosso-acervo" routerLinkActive="active">Nosso Acervo</a>
    </div>
  </div>

  <div class="line"></div>

  <div class="copyright">
    <p>&copy; 2024 Acervo da Tecnologia. Todos os direitos reservados.</p>
  </div>
</footer>
