<section id="recursos">
  <div class="start">
    <h2>Mais de 90GB de arquivos para sua evolução.</h2>
  </div>

  <div class="container">
    <div class="box1">
      <img src="../../../assets/19788.jpg" alt="Image" />
    </div>
    <div class="box2">
      <h2>O Acervo é multiplataforma</h2>
      <p>
        O Acervo da Tecnologia está disponível para Desktop, Tablets e
        Smartphones. Suas funcionalidades exclusivas, agilidade e navegação
        intuitiva oferecem aos leitores a melhor experiência de usuário.
      </p>
    </div>
  </div>
</section>
