<section id="home">
  <div class="layer">
    <div class="home">
      <img src="../../../assets/Vector_2652.jpg" alt="Imagem Home">
    </div>
  </div>

  <div class="info-home">
    <h2>Mais de 90GB de informação</h2>
    <h2>Totalmente gratuito e disponivel,</h2>
    <h2>Para todos os dispositivos.</h2>
    <a routerLink="/sobre"><button>Saber mais sobre nós</button></a>
  </div>

  <div class="info2">
    <div class="box">
      <h2>Um acervo de PDFs com diversos temas sobre tecnlogia e programação.</h2>
    </div>
    <div class="boxes" #counterElement1>
      <h2>+ {{ count1 }}GB</h2>
      <h3>de informação</h3>
    </div>
    <div class="boxes" #counterElement2>
      <h2>+ {{ count2 }}</h2>
      <h3>de títulos</h3>
    </div>
    <div class="boxes" #counterElement3>
      <h2>+ {{ count3 }}</h2>
      <h3>de programação</h3>
    </div>
    <div class="boxes" #counterElement4>
      <h2>+ {{ count4 }}</h2>
      <h3>de segurança</h3>
    </div>
  </div>

  <div class="info3">
    <div class="box-info1">
      <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="box-info2">
      <h2>Experimente nossa plataforma</h2>
      <p>O Acervo da Tecnologia é totalmente gratuito, com diversos conteúdos e diversos segmentos na aréa de tecnologia. Aqui te ajudamos a elevar o seu ensino.</p>
      <a routerLink="/nosso-acervo"><button>Acessar Nosso Acervo</button></a>
    </div>
  </div>
</section>
