<div class="container">
  <div class="background-img"></div>
  <div class="overlay"></div>
  <div class="back">
    <a [routerLink]="['/nosso-acervo']"><mat-icon class="arrow">keyboard_arrow_left</mat-icon>Voltar</a>
  </div>
  <div class="flex">
    <div class="bg-img">
      <img src="https://m.media-amazon.com/images/I/711urrSZqiL._SY466_.jpg" alt="livro">
    </div>

    <div class="info-book">
      <h2>Aborda Python 3.3</h2>
      <h3>Python para desenvolvedores</h3>
      <div class="line"></div>
      <a href="" download="python_para_desenvolvedores_completo.pdf">
        <button>Baixar</button>
      </a>
    </div>

  </div>
</div>
