<section id="sobre">
  <div class="container">
    <h2>Um acervo de PDFs completo para sua evolução!</h2>
  </div>

  <div class="sobre">
    <div class="box1">
      <h2>
        O Acervo da Tecnologia é aonde você vai encontrar os livros de diversos
        segmentos sobre tecnologia.
      </h2>
    </div>
    <div class="box2">
      <p>
        O Acervo da Tecnologia é uma iniciativa tomada pelo Desenvolvedor Full
        Stack
        <a
          href="https://www.linkedin.com/in/matheussouzagonzalez/"
          target="_blank"
          >Matheus Gonzalez</a
        >, cujo único intuito é ajudar as pessoas que estão começando na área da
        tecnologia ou até mesmo já estão há bastante tempo na área e só estão
        procurando um livro sobre tecnologia para ler.
      </p>

      <p>
        Nossa biblioteca está repleta de livros, com mais de 90GB de arquivos,
        abrangendo diversas categorias, desde Linguagens de Programação até
        Microsoft Office.
      </p>

      <p>
        Nosso compromisso com a acessibilidade e a educação continua sendo nossa
        prioridade máxima. Acreditamos firmemente que o conhecimento é um
        direito de todos, e é por isso que disponibilizamos todo o conteúdo de
        nossa biblioteca de forma gratuita e sem restrições.
      </p>

      <p>
        Não importa onde você esteja no mundo ou qual seja sua situação
        financeira, todos são bem-vindos para explorar, aprender e crescer
        conosco.
      </p>

      <p>
        Então, se você está pronto para embarcar em uma jornada de descoberta e
        aprendizado no vasto mundo da tecnologia, não hesite em explorar o
        Acervo da Tecnologia. O conhecimento está ao seu alcance - tudo o que
        você precisa fazer é dar o primeiro passo.
      </p>
    </div>
  </div>
</section>
