<div class="container">
  <div class="background-img"></div>
  <div class="overlay"></div>
  <div class="back">
    <a [routerLink]="['/nosso-acervo']"><mat-icon class="arrow">keyboard_arrow_left</mat-icon>Voltar</a>
  </div>
  <div class="flex">
    <div class="bg-img">
      <img src="https://m.media-amazon.com/images/I/61AC8UG-CPL._AC_UF1000,1000_QL80_.jpg" alt="livro">
    </div>

    <div class="info-book">
      <h2>Uma introdução prática usando o BLUEJ</h2>
      <h3>Programação Orientada a Objetos com Java</h3>
      <div class="line"></div>
      <a href="" download="Programação Orientada a Objetos com Java.pdf">
        <button>Baixar</button>
      </a>
    </div>

  </div>
</div>
